.article-container {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0;
  border-radius: 10px;
}

.article .header,
.article .footer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

.article h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  max-width: 50ch;
}

.article p {
  max-width: 65ch;
}

.article a {
  display: flex;
  gap: 0em;
  align-items: center;
  align-self: flex-end;
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.article a svg {
  height: 20px;
  width: 20px;
  transform: translateX(-4px);
  fill: var(--text);
}

.article .tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8em;
  row-gap: 0.4em;
}

@media only screen and (max-width: 420px) {
  .article .header,
  .article .footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
  }
}
