/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@400;700&family=Red+Hat+Display:wght@700&display=swap");

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
section,
article,
small {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  --background-body: rgba(244, 244, 244, 1);
  --background-card: rgb(255, 255, 255);
  --background-icons: rgb(61, 61, 61);
  --text: rgb(20, 20, 20);
  --accent: rgb(65, 88, 208);
  --accent-secondary: rgba(128, 208, 199, 1);
  --mockup-header: rgb(246, 247, 248);

  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 5vw;
  background-color: var(--background-body);
  font-family: "Montserrat", sans-serif;
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  color: var(--text);
}

body.dark-theme {
  --text: rgba(244, 244, 244, 0.85);
  --background-body: rgb(40, 40, 40);
  --background-card: rgb(61, 61, 61);
  --background-icons: rgba(244, 244, 244, 0.8);
  --accent: rgba(128, 208, 199, 1);
  --accent-secondary: rgb(65, 88, 208);
  --mockup-header: rgba(123, 123, 124, 0.8);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  align-self: flex-start;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--accent);
}

a:hover svg,
a:focus svg {
  fill: var(--accent);
}
